@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c4b7a;
    color: white;
}

.win {
    padding: 3rem;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    border-radius: 1rem;
    background-color: #5c4b7a;
    color: white;
    width: 21rem;

}

h1 {
    margin: 0;
    text-align: center;
}

.box {
    margin: 10px 0 0;
    padding: 15px;
    color: white;
    background-color: #292b36;
    border-radius: 10px;
    border: none;
    outline: none;
    width: -webkit-fill-available;
}

.block {
    margin: 10px 0 0;
    padding: 15px;
    border-radius: 10px;
    color: #5af78d;
    background-color: #292b36;
    border: none;
    outline: none;
    cursor: no-drop;
    width: -webkit-fill-available;
    height: 10em;
    overflow: auto;
}

.btn {
    width: 48%;
    cursor: pointer;
    margin: 10px 0 0;
    padding: 15px;
    color: white;
    background-color: #292b36;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .5s;
}

#calc:hover {
    background-color: #3eb883;
}

#reiniciar:hover {
    background-color: #f75a5a;
}

.block:active {
    cursor: text;
}

#save {
    width: -webkit-fill-available;
}

#save:hover {
    background-color: #3e58b8;
}